<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833357553444-mqn54hl180kfl53f2rts4nu2d3hj70nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833357553444-mqn54hl180kfl53f2rts4nu2d3hj70nc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>833357553444-81uh499fl23j1lj2jhegc81e3pkcfo7c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCP042nx-_5Ch1l37EZVGLAFvfDeI9dgK8</string>
	<key>GCM_SENDER_ID</key>
	<string>833357553444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.souzaleandror.chats</string>
	<key>PROJECT_ID</key>
	<string>chatflutter-a0bdb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatflutter-a0bdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833357553444:ios:a208f74e3a1f562fe01db1</string>
	<key>DATABASE_URL</key>
	<string>https://chatflutter-a0bdb.firebaseio.com</string>
</dict>
</plist>